.ResetPassword {
  width: 100vh;
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid black;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #071b1c;
  font-family: Arial, sans-serif;
  color: #fff;
}

.ResetPassword h2 {
  text-align: center;
  color: #20b2aa;
  margin-bottom: 20px;
}

.ResetPassword form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.ResetPassword label {
  font-size: 14px;
  color: #ddd;
  margin-bottom: 5px;
}

.ResetPassword input {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #4a7c59;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
  background-color: white;
  color: black;
}

.ResetPassword input:focus {
  border-color: #20b2aa;
  outline: none;
  box-shadow: 0 0 3px rgba(32, 178, 170, 0.5);
}

.ResetPassword button {
  padding: 10px 15px;
  font-size: 16px;
  color: #fff;
  background-color: #4a7c59;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.ResetPassword button:hover {
  background-color: #3d6c4b;
}

.ResetPassword p {
  text-align: center;
  margin-top: 10px;
  color: #ddd;
}

.ResetPassword .error-message {
  color: red;
  text-align: center;
}

.ResetPassword button + button {
  background-color: #5c4033;
  margin-top: 10px;
}

.ResetPassword button + button:hover {
  background-color: #4b3228;
}

.ResetPassword .SignUp,
.ResetPassword .ForgotPassword {
  color: #20b2aa;
  cursor: pointer;
  text-decoration: underline;
}

.ResetPassword .SignUp:hover,
.ResetPassword .ForgotPassword:hover {
  color: #3d6c4b;
}

.ResetPassword .success-message {
  text-align: center;
  color: #20b2aa;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background: #2c3e3f;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  color: #fff;
}

.popup-content button {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #4a7c59;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.popup-content button:hover {
  background-color: #3d6c4b;
}
