.card {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.your-card {
  background-color: #f9f9f9;
  color: black;
  width: 120px;
  height: 170px;
}

.hidden-card {
  font-style: italic;
  color: darkred;
}

.opponent-card,
.table-deck {
  background-color: #b30000;
  background-image: repeating-linear-gradient(
    45deg,
    #ff0000,
    #ff0000 10px,
    #b30000 10px,
    #b30000 20px
  );
  border: 2px solid #8b0000;
  border-radius: 8px;
  cursor: default;
}

.opponent-card,
.table-deck {
  width: 100px;
  height: 145px;
  margin-left: -10px;
  margin-right: -10px;
}
